/* font-weights */
$thin: 100;
$extralight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

/* font-size */
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;

/* colors */
$theme-purple-extra-light: #9ba4eb;
$theme-purple-light: #5867dd;
$theme-purple-dark: #384ad7;
$theme-gray: #f4f6f9;
$midnight-black: #313131;
$light-green: #397046;
$theme-black: #1b2c3f;
$subtle-gray: #98a6ad;
